body {
    background-color: #ff622b;
    margin: 0;
    font-family: 'Lora', serif;
}

#header {
    padding: 2rem 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon img {
    display: block;
}

#app {
    font-weight: 700;
    font-size: 30px;

    display: flex;
    align-items: center;
    gap: 8px;

    color: black;
    cursor: pointer;
}

#intro {
    padding: 70px 60px;
    text-align: center;
    font-weight: 400;
    font-size: 155px;
    letter-spacing: -5px;
    line-height: 95%;
}

#intro-italic {
    font-style: italic;
}

#intro-img {
    display: flex;
    justify-content: center;
    padding: 100px 60px;
}

#about {
    display: flex;
    justify-content: space-between;
    gap: 110px;
}

#about p {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -1.3px;
    line-height: 1.1;
    margin: 0;
    text-align: left;
    padding-left: 120px;
}

#about h2 {
    font-size: 120px;
    font-style: italic;
    line-height: 1.05;
    margin: 0;
    font-weight: 600;
    padding-right: 120px;
}

#about-img img {
    border-radius: 3%;
    padding: 20px;
    width: 1865px;
    height: auto;
}

#locations {
    background-color: white;
}

#locations-content {
    display: flex;
    flex-direction: row;
    justify-content: right; 
    gap: 0px;
}

#num {
    display: flex;
    background-color: #ff622b;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-top: 140px;
    font-size: 26px;
    font-weight: 700;
}


#locations h1 {
    display: flex;
    color: black;
    font-style: italic;
    font-size: 380px;
    padding: 60px;
    margin: 0;
}

#locations-images {
    display: flex;
    gap: 15px;
    padding: 30px;
}

#first-image img {
    width: 600px;
    height: auto;
    border-radius: 3%;
}

#first-image-store {
    font-size: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: auto;
}

#plus-first-store {
    background-color: #ff622b;
    border-radius: 100%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

#second-image img {
    width: 600px;
    height: auto;
    border-radius: 3%;
}

#second-image-store {
    font-size: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: auto;
}

#plus-second-store {
    background-color: #ff622b;
    border-radius: 100%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

#third-image img {
    width: 600px;
    height: auto;
    border-radius: 3%;
}

#third-image-store {
    font-size: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: auto;
}

#plus-third-store {
    background-color: #ff622b;
    border-radius: 100%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

#fourth-image img {
    width: 600px;
    height: auto;
    border-radius: 3%;
}

#second-locations-images {
    display: flex;
    gap: 15px;
    padding: 30px;
}

#fourth-image-store {
    font-size: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: auto;
}

#plus-fourth-store {
    background-color: #ff622b;
    border-radius: 100%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

#fifth-image img {
    width: 600px;
    height: auto;
    border-radius: 3%;
}

#fifth-image-store {
    font-size: 34px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: auto;
}

#plus-fifth-store {
    background-color: #ff622b;
    border-radius: 100%;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: bold;
}

#quote {
    background-color: white;
    text-align: center;
    font-size: 160px;
    padding: 100px;
    line-height: 95%;
}

#quote-color {
    color: #ff622b;
}

#clients {
    background-color: white;
    margin: 0;
    padding-bottom: 80px;
}

#clients-intro h2 {
    font-size: 330px;
    text-align: center;
    font-style: italic;
    margin: 0;
}

#arrows {
    display: flex;
    gap: 20px;
    justify-content: right;
    margin-right: 160px;
    margin-top: 100px;
}

#clients-arrow-left {
    background-color: #e1e1e1;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
}

#clients-arrow-right {
    background-color: #e1e1e1;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clients-image {
    display: flex;
    gap: 80px;
    padding: 50px 20px 50px 20px;
    margin: 0;
}

#first-clients-image {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

#first-clients-image img {
    width: 400px;
    height: auto;
    border-radius: 3%;
    filter: grayscale(100%);
}

#zoheb-intro {
    color: #ff622b;
    display: flex;
    justify-content: left;
    font-style: italic;
    font-size: 26px;
    font-weight: 600;
    margin-top: 70px;
}

#zoheb-text p {
    align-content: flex-start;
    justify-content: space-between;
    max-width: 390px;
    font-weight: 600;
    font-size: 25px;
    margin-top: 40px;
}

.aspas {
    color: #ff622b;
}

#zoheb-aspas-intro {
    color: #ff622b;
}

#zoheb-aspas-outro {
    color: #ff622b;
}

#second-clients-image {
    display: flex;
    margin: 0;
}

#second-clients-image img {
    width: 400px;
    height: auto;
    border-radius: 3%;
}

#evan-intro {
    color: #ff622b;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 26px;
    font-weight: 600;
    margin-top: 70px;

}

#evan-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px;
    gap:    0px;
}

#evan-text p {
    align-content: flex-start;
    justify-content: space-between;
    max-width: 390px;
    font-weight: 600;
    font-size: 25px;
    margin-top: 40px;
}

#evan-intro-aspas {
    color: #ff622b;
}

#evan-outro-aspas {
    color: #ff622b;
}


#app-intro h2 {
    text-align: center;
    font-size: 220px;
    font-style: italic;
    max-width: 1100px;
    font-weight: 500;
    letter-spacing: -6px;
    line-height: 80%;
    padding-top: 30px;
    padding-bottom: 80px;
    margin: auto;
}

#app-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#app-section-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-section-image img {
    max-width: 580px;
    rotate: calc(5deg);
}

#app-left {
    display: flex;
    flex-direction: column;
    gap: 600px;
    max-width: 300px;
}

#app-right { 
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 300px;
    margin-top: 340px;
}

.text h5 {
    font-size: 50px;
    margin: 0;
}

.text{
    font-size: 26px;
    font-weight: 900;
}

#app-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


/* linha de baixo */
#bottom-footer {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* textos */
#app-footer h2 {
    font-size: 200px;
    font-style: italic;
    line-height: 90%;
    margin: 0;
}

/* QR */
#download-app-qrcode img {
    width: 150px;
    height: 150px;
}

#download-apps {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.app-download {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 300px;
    height: 80px;
}

#paper-section {
    background-color: white;
}

#paper-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#paper-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#paper-heading h2 {
    font-size: 330px;
    font-style: italic;
}

#view-all-button {
    display: flex;
    justify-content: center; 
    align-items: center;      
    font-size: 24px;
    width: 180px;
    height: 180px;
    background-color: #ff622b;
    border-radius: 50%;      
    text-align: center;
    margin-top: 80px;
    font-style: italic;  
}

.paper-container {
    display: flex;
    padding: 40px;
    gap: 150px;
}

.card-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 700px;
    height: 850px;
    padding: 40px;
    border: 1px #eeee solid;
    border-radius: 3%;
    background-color: white;
    
}

.card-header {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 23px;
}

.card-body {
    display: flex;
    font-size: 65px;
    font-style: italic;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff622b;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 550px;
    margin-top: 230px;
    font-size: 30px;
    font-weight: 900;
}

.card-image {
    width: 650px;
    height: 650px;
    margin-left: 300px;
    margin-top: 240px;
    border-radius: 3%;
}


.second-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff622b;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 570px;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 900;
}

#faq-section {
    background-color: black;
    margin: 0;
    margin-top: 0px;
    color: white;
}

.faq-intro h2 {
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 300px;
    text-align: center;
    margin: 0;
}

.faq-container {
    display: flex;
    gap: 200px;
}

.faq-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;

}

.faq-column h3 {
    font-size: 40px;
    font-style: italic;
    padding: 20px;
    margin: 0;
}

.faq-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px white solid;
    padding: 30px;
}

.faq-questions {
    font-size: 22px;
    max-width: 600px;
}

.question-plus {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #ff622b;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
}

.last-faq-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    margin-bottom: 100px;
}

.last-additional-faq-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
    margin-bottom: 205px;
}